version: 2.1
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: "Setup virtual env"
          command: |
            uv venv --python 3.12 /usr/local/share/virtualenvs/tap-mailjet
            source /usr/local/share/virtualenvs/tap-mailjet/bin/activate
            uv pip install -U setuptools
            uv pip install .[dev]
      - run:
          name: "JSON Validator"
          command: |
            source /usr/local/share/virtualenvs/tap-mailjet/bin/activate
            stitch-validate-json tap_mailjet/schemas/*.json
      - run:
          name: "pylint"
          command: |
            source /usr/local/share/virtualenvs/tap-mailjet/bin/activate
            pip install pylint
            pylint tap_mailjet -d C,R,W
      - add_ssh_keys
      - run:
          name: "Unit Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-mailjet/bin/activate
            pip install coverage
            python -m coverage run -m unittest discover -s tests/unittests -p "test_*.py"
            python -m coverage html --omit="*/tests/*,*/site-packages/*" -d htmlcov
            python -m coverage report
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - run:
          name: "Integration Tests"
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            unset USE_STITCH_BACKEND
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-mailjet tests


workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user